// file: _animations.scss
// Descript: animations on web
// version: v.1
// Author: Citric

// -

// Table of contents
// ============================

// 01. ANIMATIONS
// ------------------------
	// 1.1 Anime switch

// ======================================================
// 01. ANIMATIONS
// ======================================================

	//  1.1 Anime switch
	// --------------------------------------------------

		 @keyframes anime__switch {
            0% {
                background: map-get($colors,white);
               	left: 0px;
            }
            100% {
                background: map-get($colors, white);
                @include border('',2,blue);
                left: 25px;
            }
        }

    //  1.2 Animate modal
	// --------------------------------------------------

		 @keyframes anime__modal {
            0% {
               opacity: 0;
               visibility: hidden;
               transform: translateY(-5px);
            }
            100% {
               opacity: 1;
               visibility: visible;
               transform: translateY(0);
            }
        }

    //  1.3 Animate modal--bg
	// --------------------------------------------------

		 @keyframes anime__modal--bg {
            0% {
               opacity: 0;
               visibility: hidden;
            }
            100% {
               opacity: .3;
               visibility: visible;
            }
        }


    //  1.5 Animate alerts
	// --------------------------------------------------

        @keyframes anime__alerts {
            0% {
                transform: translateY(100%);
                opacity: 0;
			}
			8% {
                transform: translateY(0);
                opacity: 1;
			}
			95% {
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                transform: translateY(100%);
                opacity: 0;
            }
        }