$colors: (
	white: #fff,
	blue--light: #F5FAFD,
	blue: #1f5af6,
	blue--hover: #1a4ac8,
	blue--active: #1f5af6,
	blue--soft: #1f5af6,
	blue--dark: #415A73,
	gray--extra-light: #F9F9F9,
	gray--light: #F2F2F2,
	gray: #AEB2B8,
	gray--subheader: #F4F4F4,
	gray--soft-dark: #D9D9D9,
	gray--dark: #737C84,
	black: #283747,
	black--hover: #3d464d,
	blue--gray: #F9F9F9,
	green: #52E4A3,
	yellow: #FFC700,
	red: #de0000,
	red-hover: #b00,
	red--hover: #FF6D46,
	purple: #A965E6,
	header: #fff,
	header-line: #e0e0e0
);

$itemscolors: (
	input: #898cff,
	text: #ff89b5,
	image: #ffdc89,
	file: #668de5,
	radio: #67eebd,
	checkbox: #90d4f7,
	select: #f5a26f,
	date: #71e096,
	section: #ff96e3
);
